<template>
  <div v-if="theme" class="flex flex-col overflow-y-auto overflow-x-hidden">
    <q-tabs-outlined v-model="currentCategory" :tabs="tabs" />

    <div
      v-if="currentCategory === 'color'"
      class="flex flex-col items-start py-[27px] px-[24px]"
    >
      <color-picker
        v-for="(color, index) in theme.background"
        :key="index"
        :label="color.title"
        :colors="color.variants"
        class="mt-[27px] first:mt-0"
      />
    </div>

    <div
      v-if="currentCategory === 'abstract'"
      class="grid grid-cols-3 gap-[8px] py-[27px] px-[24px]"
    >
      <background-pick
        v-for="(bg, index) in abstractBackgrounds"
        :key="index"
        :image-type="currentCategory"
        :image="bg"
      />
    </div>

    <div
      v-if="currentCategory === 'image'"
      class="grid grid-cols-3 gap-[8px] py-[27px] px-[24px]"
    >
      <background-pick
        v-for="(bg, index) in imageBackgrounds"
        :key="index"
        :image-type="currentCategory"
        :image="bg"
      />
    </div>
  </div>
</template>

<script setup>
import { storeToRefs } from "pinia";

import { ref } from "@nuxtjs/composition-api";
import ColorPicker from "~/components/preview/ThemeCustomizer/BackgroundColorPicker.vue";
import BackgroundPick from "~/components/preview/ThemeCustomizer/BackgroundImagePicker.vue";
import { useQuizStore } from "~/stores";
import QTabsOutlined from "~/components/ui/QTabsOutlined.vue";

const quizStore = useQuizStore();

const props = defineProps({
  value: {
    type: String,
    default: "color"
  }
});

const tabs = [
  {
    title: "Color",
    value: "color"
  },
  {
    title: "Abstract",
    value: "abstract"
  },
  {
    title: "Image",
    value: "image"
  }
];

const currentCategory = ref(props.value);

const { theme, abstractBackgrounds, imageBackgrounds } = storeToRefs(quizStore);
</script>
