<template>
  <button
    class="background-pick w-[88px] h-[88px] rounded-[16px] bg-cover relative"
    :class="{ active: themeBackgroundValue === image.url }"
    :style="{ backgroundImage: `url(${image.preview})` }"
    @click="backgroundClick(image.url)"
  />
</template>

<script setup>
import { storeToRefs } from "pinia";
import { useQuizStore } from "~/stores";

const props = defineProps({
  image: {
    type: Object,
    default: () => {}
  },

  imageType: {
    type: String,
    default: ""
  }
});

const quizStore = useQuizStore();
const { themeBackgroundValue } = storeToRefs(quizStore);

const { setThemeBackground, setThemeBackgroundValue } = quizStore;

function backgroundClick(imgUrl) {
  setThemeBackground(props.imageType);
  setThemeBackgroundValue(imgUrl);
}
</script>

<style lang="scss" scoped>
.background-pick {
  &.active {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 106%;
      height: 106%;

      border: 2px solid $primary;
      border-radius: 20px;
      box-sizing: content-box;
    }
  }
}
</style>
