<template>
  <div class="color-picker flex items-center justify-between w-full">
    <div
      class="text-[14px] leading-[18px] text-text-secondary font-semibold"
      v-text="label"
    />

    <div class="flex items-center">
      <div
        v-for="(color, index) in colors"
        :key="index"
        :class="{ 'relative selected': themeBackgroundValue === color }"
        class="color w-[36px] h-[24px] first:rounded-l-full last:rounded-r-full"
        :style="{ backgroundColor: color }"
        @click="
          setThemeBackground('color');
          setThemeBackgroundValue(color);
        "
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import { storeToRefs } from "pinia";
import { useQuizStore } from "~/stores";

const props = defineProps({
  label: {
    type: String,
    default: "Color"
  },

  colors: {
    type: Array,
    default: () => []
  }
});

const quizStore = useQuizStore();
const { setThemeBackground, setThemeBackgroundValue } = quizStore;
const { themeBackgroundValue } = storeToRefs(quizStore);
</script>

<style lang="scss" scoped>
.color-picker {
  .color {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);

    &.selected {
      &::before {
        position: absolute;
        content: " ";
        width: 100%;
        height: 110%;
        transform: translateY(-5%);

        padding: 2px;
        box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.9),
          inset 0 1px 0 rgba(255, 255, 255, 0.9),
          inset -1px 0px 0px rgba(255, 255, 255, 0.9),
          inset 0px -1px 0px rgba(255, 255, 255, 0.9);
        border-radius: 6px;
        border: 2px solid $primary;
        box-sizing: border-box;
      }
    }
  }
}
</style>
