<template>
  <q-tabs-white
    :tabs="tabs"
    :value="value"
    @input="(val) => $emit('input', val)"
  />
</template>

<script lang="ts" setup>
import { ref } from "@nuxtjs/composition-api";
import QTabsWhite from "~/components/ui/QTabsWhite.vue";

const props = defineProps({
  value: {
    type: Number,
    default: 0
  }
});

const tabs = ref([
  {
    title: "Light",
    value: 0
  },
  {
    title: "Dark",
    value: 1
  }
]);
</script>
