<template>
  <transition name="fade" mode="out-in">
    <div
      v-if="theme"
      class="customize flex flex-col w-[328px] max-h-[calc(100vh_-_90px)] fixed w-[328px] z-[1] left-0 top-[57px] m-[16px] rounded-[20px] bg-white"
    >
      <div
        class="font-extrabold text-[24px] leading-[30px] pt-[24px] px-[24px]"
      >
        Design
      </div>
      <dark-light-tabs
        :value="themeDark ? 1 : 0"
        class="mt-[16px] mx-[24px]"
        @input="setThemeStyle"
      />

      <div
        class="font-bold text-[15px] leading-[24px] py-[8px] mt-[24px] mx-[24px]"
      >
        Color
      </div>
      <theme-color-picker
        class="mt-[4px] mx-[24px]"
        :current-theme="theme"
        @change="setTheme"
      />

      <div
        class="font-bold text-[15px] leading-[24px] py-[8px] mt-[24px] mx-[24px]"
      >
        Background
      </div>
      <background-tabs
        :value="themeBackgroundStyle"
        @input="setThemeBackground"
      />
    </div>
  </transition>
</template>

<script setup>
import { computed } from "@nuxtjs/composition-api";
import { storeToRefs } from "pinia";
import themes from "~/data/themes.json";
import themeBackgrounds from "~/data/backgrounds.json";

import { useQuizStore } from "~/stores";

import DarkLightTabs from "~/components/preview/ThemeCustomizer/DarkLightTabs.vue";
import BackgroundTabs from "~/components/preview/ThemeCustomizer/BackgroundTypeTabs.vue";
import ThemeColorPicker from "~/components/preview/ThemeCustomizer/ThemeColorPicker.vue";

const quizStore = useQuizStore();
const { setThemeBackground } = quizStore;
const { theme, screens, themeDark, themeBackgroundStyle } =
  storeToRefs(quizStore);

function setTheme(themeParam) {
  quizStore.setTheme(themeParam);
  setFirstBackgroundOfCurrentTheme(selectedThemeStyle.value);
}

function setFirstBackgroundOfCurrentTheme(themeStyle) {
  const themeObj =
    themeStyle === 1
      ? themes.dark.find((th) => th.id === theme.value.id)
      : themes.light.find((th) => th.id === theme.value.id);
  let themeBackground;

  if (themeBackgroundStyle.value === "color") {
    themeBackground = themeObj.background[0].variants[0];
  }

  if (themeBackgroundStyle.value === "abstract") {
    themeBackground =
      themeStyle === 1
        ? themeBackgrounds.dark.abstract[0].url
        : themeBackgrounds.light.abstract[0].url;
  }

  if (themeBackgroundStyle.value === "image") {
    themeBackground =
      themeStyle === 1
        ? themeBackgrounds.dark.image[0].url
        : themeBackgrounds.light.image[0].url;
  }

  quizStore.setTheme(themeObj);
  quizStore.setThemeBackgroundValue(themeBackground);
}

function setThemeStyle(themeStyle) {
  setFirstBackgroundOfCurrentTheme(themeStyle);

  if (themeStyle === 0) {
    quizStore.setThemeDark(false);
    return;
  }

  quizStore.setThemeDark(true);
}

const selectedThemeStyle = computed(() => (themeDark.value ? 1 : 0));
</script>

<style lang="scss" scoped>
.customize {
  box-shadow: 0 5px 10px rgba(52, 54, 62, 0.06),
    0 1px 3px rgba(47, 52, 64, 0.03);
}
</style>
