<template>
  <div v-if="theme && currentTheme" class="theme-picker flex items-center">
    <button
      v-for="(themeObj, index) in currentThemes"
      :key="index"
      class="color-circle border-text-primary border-1 border-opacity-10 w-[19px] h-[19px] rounded-full ml-[12px] first:ml-0"
      :class="{
        'relative active':
          themeObj.subscribe.background === currentTheme.subscribe.background
      }"
      :style="{
        background: themeObj.subscribe.background
      }"
      @click="change(themeObj)"
    />
  </div>
</template>

<script lang="ts" setup>
import { storeToRefs } from "pinia";
import { computed } from "@nuxtjs/composition-api";
import { useQuizStore } from "~/stores";
import { Theme } from "~/models/theme";

const props = defineProps({
  currentTheme: {
    type: Object,
    default: null
  }
});

const emit = defineEmits(["change"]);

const quizStore = useQuizStore();

const { themes, themeDark, theme } = storeToRefs(quizStore);

const currentThemes = computed(() => {
  return themeDark.value ? themes.value.dark : themes.value.light;
});

function change(theme: Theme) {
  emit("change", theme);
}
</script>

<style lang="scss" scoped>
.theme-picker {
  .color-circle {
    &.active {
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        width: 140%;
        height: 140%;
        transform: translate(-50%, -50%);

        border-radius: 50%;
        background-color: transparent;

        border: 2px solid $primary;
      }
    }
  }
}
</style>
