<template>
  <div v-click-outside="() => (showMenu = false)" class="relative">
    <transition appear name="fade" mode="out-in">
      <client-only>
        <q-circle-button
          v-tooltip="`${$t('builder.addScreen.addScreen')}`"
          :glow="glow"
          @click="showMenu = true"
        >
          <font-awesome-icon class="fa-lg plus" :icon="['fas', 'plus']" />
        </q-circle-button>
      </client-only>
    </transition>

    <q-dropdown-menu
      v-if="showMenu"
      v-view="viewHandler"
      :menu-items="menuItems"
      left="16px"
      :top="`${menuTop}px`"
      style="transform: translate(-50%, -50%)"
      @selectedItem="(screen) => addScreen(screen.name)"
    />
  </div>
</template>

<script lang="ts" setup>
import {
  getCurrentInstance,
  nextTick,
  ref,
  useContext
} from "@nuxtjs/composition-api";
import { storeToRefs } from "pinia";
import QDropdownMenu from "~/components/ui/QDropdownMenu.vue";
import QCircleButton from "~/components/ui/QCircleButton.vue";
import screensList from "~/data/screens";
import { useQuizStore } from "~/stores";

const props = defineProps({
  glow: {
    type: Boolean,
    default: false
  }
});
const root = getCurrentInstance();

const quizStore = useQuizStore();
const { screens } = storeToRefs(quizStore);
const { i18n } = useContext();

const menuItems = [
  {
    title: i18n.t("builder.addScreen.transition"),
    icon: "IconLoader",
    name: "Loader"
  },
  {
    title: i18n.t("builder.addScreen.singleAnswer"),
    icon: "IconSingle",
    name: "SingleAnswerQuestion"
  },
  {
    title: i18n.t("builder.addScreen.multipleAnswer"),
    icon: "IconMultiple",
    name: "MultipleAnswerQuestion"
  },
  {
    title: i18n.t("builder.addScreen.date"),
    icon: "IconDate",
    name: "DateQuestion"
  },
  {
    title: i18n.t("builder.addScreen.text"),
    icon: "IconText",
    name: "TextQuestion"
  },
  {
    title: i18n.t("builder.addScreen.dropdown"),
    icon: "IconSelect",
    name: "SelectQuestion"
  }
];
const showMenu = ref(false);
const menuTop = ref(0);

function addScreen(name: string) {
  const screenToAdd = screensList.filter((scr) => scr.name === name);

  if (!screenToAdd[0]) return;

  quizStore.addQuestion({
    screenIndex: screens.value.length,
    screen: screenToAdd[0],
    systemScreen: false
  });

  nextTick(() => {
    const questions = document.querySelectorAll(".user-screens");
    root?.proxy.$smoothScroll({
      scrollTo: questions[questions.length - 1],
      duration: 1000,
      offset: -50
    });
  });

  showMenu.value = false;
}
function viewHandler(e: any) {
  if (e.percentInView < 1 && e.percentCenter < 0.5) {
    menuTop.value = e.target.rect.height * (1 - e.percentInView) + 10;
  }
}
</script>
