<template>
  <div class="flex flex-col items-center">
    <img class="mt-[90px]" src="~/assets/images/lets-begin.svg" alt="" />
    <h2
      class="font-bold text-[24px] leading-[30px] text-center tracking-normal mt-[8px] whitespace-pre-line text-text-primary mt-[24px]"
      v-text="$t('builder.letsBeginTitle')"
    />
    <p
      class="font-semibold text-[17px] leading-[24px] tracking-tight whitespace-pre-line text-center mt-[8px]"
      v-text="$t('builder.letsBeginText')"
    />

    <add-screen-button glow :style="{ marginTop: '52px' }" />
  </div>
</template>

<script>
import AddScreenButton from "~/components/editor/AddScreenButton.vue";

export default {
  components: { AddScreenButton }
};
</script>
