<template>
  <div
    class="w-full h-[188px] pt-[42px] bg-cultured border border-gainsboro rounded-[12px] flex flex-col items-center justify-start relative"
  >
    <div class="mt-[8px]">
      <div
        class="text-text-primary font-semibold text-[15px] leading-[20px] text-center"
        v-text="$t('builder.loader.useTheLoaderTitle')"
      />
    </div>

    <button
      class="button is-primary is-rounded mt-[8px] has-text-weight-medium"
      @click="showLoadersGallery = true"
    >
      {{ $t("builder.loader.useTheLoaderButton") }}
    </button>

    <modal-select-loader
      v-model="showLoadersGallery"
      @select="
        (val) => {
          $emit('select', val);
          showLoadersGallery = false;
        }
      "
    />
  </div>
</template>

<script lang="ts" setup>
import { ref } from "@nuxtjs/composition-api";
import ModalSelectLoader from "~/components/modals/ModalSelectLoader.vue";

const showLoadersGallery = ref(false);
</script>
