<template>
  <nav
    class="navbar sticky inset-0 !z-10"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          <div class="buttons">
            <button
              class="button is-primary is-inverted has-text-weight-medium"
              @click="$router.back()"
            >
              <strong> sjbur.dev </strong>
            </button>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <button
              v-tooltip="{
                content: tooltipValidationError,
                trigger: 'manual',
                show: showToolTip
              }"
              class="button is-primary"
              @mouseenter="showToolTip = true"
              @click="goToPreview"
              @mouseleave="showToolTip = false"
            >
              <strong v-text="$t('builder.publishAndDesign')" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  ref,
  useContext,
  useRouter
} from "@nuxtjs/composition-api";
import { storeToRefs } from "pinia";
import { useQuizStore } from "~/stores";

export default defineComponent({
  setup() {
    const quizStore = useQuizStore();
    const { i18n, route } = useContext();
    const router = useRouter();

    const { screens, screensValidationError } = storeToRefs(quizStore);
    const showToolTip = ref(false);

    const tooltipValidationError = computed(() => {
      return quizStore.screensValidationError
        ? `${i18n.t(
            `builder.validationErrors.${screensValidationError.value}`
          )}`
        : "";
    });

    function goToPreview() {
      if (!screens.value.length || screensValidationError.value) return;

      router.push({
        path: "/preview",
        query: { slug: route.value.query.slug }
      });
    }

    return {
      screens: quizStore.screens,
      tooltipValidationError,
      showToolTip,
      goToPreview
    };
  }
});
</script>
