@keyframes go {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shadow-animated {
  0% {
    box-shadow: 0 0 10px -3px $primary-2;
  }

  50% {
    box-shadow: 0 0 10px 10px $primary-2;
  }

  100% {
    box-shadow: 0 0 10px -3px $primary-2;
  }
}
