<template>
  <button
    class="circle group hover:bg-primary transition transition-all bg-white border-none rounded-full p-[8px] flex justify-center items-center text-primary"
    :class="{ 'animate-glow': glow, 'bg-primary': hover }"
    @mouseleave="hover = false"
    @mouseenter="hover = true"
    @click="$emit('click')"
  >
    <client-only>
      <font-awesome-icon
        class="fa-lg plus group-hover:text-white text-primary"
        :icon="['fas', 'plus']"
      />
    </client-only>
  </button>
</template>

<script>
export default {
  name: "QCircleButton",
  props: {
    glow: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      hover: false
    };
  }
};
</script>

<style lang="scss" scoped>
.circle {
  box-shadow: 0 5px 10px rgba(52, 54, 62, 0.06),
    0 1px 3px rgba(47, 52, 64, 0.03);
}
</style>
