<template>
  <button
    class="flex items-center transition-colors transition rounded-[8px] p-[12px] first-child:mt-0 hover:bg-primary-3 group"
    @click="$emit('click')"
    @mouseenter="hover = true"
    @mouseleave="hover = false"
  >
    <font-awesome-icon
      :icon="iconComponent"
      class="text-text-primary group-hover:text-primary"
    />

    <span
      class="group-hover:text-primary ml-[15px] font-semibold text-[17px] leading-[24px] tracking-tight text-text-secondary"
      v-text="title"
    />
  </button>
</template>

<script>
export default {
  name: "QDropdownMenuItem",
  props: {
    title: {
      type: String,
      default: "Пункт меню"
    },
    icon: {
      type: String,
      default: "IconLoader"
    }
  },
  data: () => ({
    hover: false
  }),
  computed: {
    iconComponent() {
      switch (this.icon) {
        case "IconLoader":
          return ["fas", "spinner"];
        case "IconSingle":
          return ["fas", "check"];
        case "IconMultiple":
          return ["fas", "square-check"];
        case "IconDate":
          return ["fas", "calendar-days"];
        case "IconText":
          return ["fas", "font"];
        case "IconSelect":
          return ["fas", "caret-down"];
        default:
          return ["fas", "spinner"];
      }
    }
  }
};
</script>
