<template>
  <transition
    :duration="180"
    name="fade"
    appear
    appear-active-class="fade-enter-active"
  >
    <div
      class="dropdown-shadow z-[12] p-[12px] bg-white rounded-[16px] flex flex-col absolute"
      :style="{
        width: width,
        top: top,
        right: right,
        bottom: bottom,
        left: left
      }"
    >
      <q-dropdown-menu-item
        v-for="(item, index) in menuItems"
        :key="index"
        :icon="item.icon"
        :title="item.title"
        @click="$emit('selectedItem', item)"
      />
    </div>
  </transition>
</template>

<script>
import QDropdownMenuItem from "~/components/ui/QDropdownMenuItem.vue";

export default {
  name: "QDropdownMenu",
  components: { QDropdownMenuItem },
  props: {
    width: {
      type: String,
      default: "300px"
    },
    top: {
      type: String,
      default: "0"
    },
    right: {
      type: String,
      default: null
    },
    bottom: {
      type: String,
      default: null
    },
    left: {
      type: String,
      default: null
    },
    menuItems: {
      type: Array,
      default: () => []
    }
  }
};
</script>

<style lang="scss" scoped>
.dropdown-shadow {
  box-shadow: 0 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
}
</style>
