<template>
  <div v-click-outside="hide" class="w-full relative z-[5]">
    <button
      class="border-2 border-gray-light rounded-lg w-full transition duration-200 ease-in-out py-3 px-4 cursor-pointer flex justify-between items-center bg-white"
      @click="clicked = !clicked"
    >
      <span
        class="placeholder font-medium text-base text-[17px] leading-[24px] tracking-tight text-secondary"
      >
        {{ placeholder }}
      </span>

      <font-awesome-icon
        :class="['arrow', { 'arrow-up': clicked }]"
        icon="chevron-down"
        class="transition-all duration-300 ease-in-out"
      />
    </button>
    <transition
      :duration="180"
      name="fade"
      appear
      appear-active-class="fade-enter-active"
    >
      <div
        v-if="clicked"
        class="translate-y-[10px] absolute top-full left-0 w-full flex flex-col items-start bg-white shadow-xl rounded-xl overflow-hidden"
      >
        <quiz-screen-control-container
          v-for="(option, index) in options"
          :key="index"
          :style="{ width: '100%' }"
          style="margin-top: 0"
          @delete="deleteOption(index)"
        >
          <input
            type="text"
            :value="option"
            class="option py-3 px-4 bg-white font-medium text-base leading-6 tracking-tight text-primary cursor-pointer transition duration-200 ease-in-out w-full border-none outline-none hover:bg-primary-3"
            @keyup="(ev) => $emit('updateOption', index, ev.target.value)"
          />
        </quiz-screen-control-container>

        <div
          v-if="options.length < 20"
          class="flex w-full items-center py-3 px-4 cursor-pointer hover:bg-primary-3 transition duration-100 border-t border-gainsboro"
          @click="$emit('addOption', newOptionText)"
        >
          <font-awesome-icon class="text-primary mr-[14px]" icon="plus" />
          <div
            class="font-semibold leading-6 text-primary"
            v-text="addOptionText"
          />
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import ClickOutside from "vue-click-outside";
import QuizScreenControlContainer from "~/components/editor/QuizScreen/QuizScreenControlContainer.vue";

export default {
  name: "EditorSelect",
  directives: {
    ClickOutside,
    QuizScreenControlContainer
  },
  components: { QuizScreenControlContainer },
  props: {
    placeholder: {
      type: String,
      default: ""
    },

    options: {
      type: Array,
      default: () => []
    },

    newOptionText: {
      type: String,
      default: "Option"
    },

    addOptionText: {
      type: String,
      default: "Add option"
    }
  },
  data: () => ({
    clicked: false,
    isDeleting: false
  }),
  watch: {
    clicked() {
      this.options.forEach((opt, index) => {
        if (!opt) this.deleteOption(index);
      });
    }
  },
  methods: {
    hide() {
      if (!this.isDeleting) this.clicked = false;
    },

    show() {
      setTimeout(() => {
        this.clicked = true;
      }, 1);
    },

    deleteOption(index) {
      this.$emit("deleteOption", index);
      this.isDeleting = true;

      setTimeout(() => {
        this.isDeleting = false;
      }, 200);
    }
  }
};
</script>
