<template>
  <div class="modal" :class="{ 'is-active': value }">
    <div class="modal-background" @click="$emit('input', false)"></div>
    <div :style="{ width: width, height: height }" class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">
          <slot name="title" />
        </p>
        <button
          class="delete"
          aria-label="close"
          @click="$emit('input', false)"
        ></button>
      </header>
      <section class="modal-card-body">
        <slot name="body" />
      </section>
      <slot name="footer" />
    </div>
  </div>
</template>

<script lang="ts" setup>
const props = defineProps({
  value: {
    type: Boolean,
    default: false
  },

  width: {
    type: String,
    default: ""
  },

  height: {
    type: String,
    default: ""
  }
});

const emit = defineEmits(["input"]);
</script>
