<template>
  <div class="flex flex-col">
    <div v-if="label" class="font-bold text-[15px] leading-[24px] mb-[8px]">
      {{ label }}
    </div>

    <q-radio-button-label
      v-for="(button, index) in options"
      :key="index"
      :checked="index === value"
      @click="$emit('input', index)"
      >{{ button.text }}
    </q-radio-button-label>
  </div>
</template>

<script>
import QRadioButtonLabel from "~/components/ui/QRadioButtonLabel.vue";

export default {
  name: "QRadioButtonGroup",
  components: { QRadioButtonLabel },
  props: {
    value: {
      type: Number,
      default: 0
    },

    label: {
      type: String,
      default: ""
    },

    options: {
      type: Array,
      default: () => []
    }
  }
};
</script>
