<template>
  <div
    class="flex justify-between items-center cursor-pointer text-[15px] leading-[150%] py-[8px]"
    :class="{ 'text-ghost-gray': !checked, 'text-primary': checked }"
    @click="$emit('click')"
  >
    <slot />
    <q-radio-button class="ml-[12px]" :checked="checked" />
  </div>
</template>

<script>
import QRadioButton from "~/components/ui/QRadioButton.vue";

export default {
  name: "QRadioButtonLabel",
  components: {
    QRadioButton
  },
  props: {
    checked: {
      type: Boolean,
      default: false
    }
  }
};
</script>
