<template>
  <div
    class="w-[20px] h-[20px] border-2 rounded-full flex justify-center items-center cursor-pointer"
    :class="{
      'bg-primary border-primary': checked,
      'border-ghost-gray bg-white': !checked
    }"
    @click="$emit('click')"
  >
    <div class="w-[8px] h-[8px] bg-white rounded-full" />
  </div>
</template>

<script>
export default {
  name: "QRadioButton",
  props: {
    checked: {
      type: Boolean,
      default: false
    }
  }
};
</script>
