<template>
  <div
    class="bg-white-smoke rounded-[12px] p-[3px] h-[40px] flex items-center flex-shrink-0"
  >
    <div
      v-for="(tab, index) in tabs"
      :key="index"
      class="tab rounded-[10px] text-center font-semibold text-[14px] leading-[18px] flex items-center justify-center cursor-pointer transition-colors duration-200 w-full h-full"
      :class="{
        'text-text-primary bg-white shadow-md': value === tab.value,
        'text-text-secondary': value !== tab.value
      }"
      @click="$emit('input', tab.value)"
    >
      {{ tab.title }}
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  tabs: {
    type: Array,
    default: () => []
  },
  value: {
    type: [String, Number],
    default: ""
  }
});
</script>
