<template>
  <div class="flex items-center h-[46px] w-full flex-shrink-0 px-[24px]">
    <button
      v-for="(tab, index) in tabs"
      :key="index"
      class="flex items-center border-b-2 justify-center w-full h-full font-semibold text-[14px] leading-[18px] text-center transition-colors duration-200"
      :class="{
        'text-primary border-primary': value === tab.value,
        'text-secondary border-white-smoke': value !== tab.value
      }"
      @click="$emit('input', tab.value)"
    >
      {{ tab.title }}
    </button>
  </div>
</template>

<script setup>
const props = defineProps({
  tabs: {
    type: Array,
    default: () => []
  },
  value: {
    type: [String, Number],
    default: ""
  }
});
</script>
