<template>
  <textarea
    class="bg-white border-2 border-gray-light rounded-[12px] w-full outline-none p-4 text-text-primary transition-all duration-200 ease-in-out h-28 resize-none focus:border-primary-2 hover:border-primary-2"
    :value="value"
    :maxlength="maxLength"
    :placeholder="placeholder"
    @input="(e) => $emit('input', e.target.value)"
  >
  </textarea>
</template>

<script>
export default {
  name: "QTextArea",
  props: {
    placeholder: {
      type: String,
      default: ""
    },

    value: {
      type: String,
      default: ""
    },

    maxLength: {
      type: Number,
      default: null
    }
  }
};
</script>
