<template>
  <input
    type="text"
    class="bg-white text-text-primary border-2 border-gray-light rounded-[12px] w-full flex items-center outline-none px-4 py-3 transition-all duration-200 ease-in-out focus:border-primary-2 hover:border-primary-2"
    :value="value"
    :maxlength="maxLength"
    :placeholder="placeholder"
    @input="(e) => $emit('input', e.target.value)"
  />
</template>

<script>
const ClickOutside = require("vue-click-outside");

export default {
  name: "QTextField",
  directives: {
    ClickOutside
  },
  props: {
    placeholder: {
      type: String,
      default: ""
    },

    value: {
      type: String,
      default: ""
    },

    maxLength: {
      type: Number,
      default: null
    }
  }
};
</script>
