.smooth-item-selected {
  font-weight: 500;
}

.smooth-picker {
  font-size: 1rem;
  height: 10em;
  position: relative;
  background-color: #fff;
  overflow: hidden;

  .smooth-list {
    height: 6.25em;
    position: relative;
    top: 4em;
  }

  .smooth-item {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-align: center;
    will-change: transform;
    contain: strict;
    height: 2em;
    line-height: 2;
    font-size: 1em;
  }

  .smooth-handle-layer {
    position: absolute;
    width: 100%;
    height: calc(100% + 2px);
    left: 0;
    right: 0;
    top: -1px;
    bottom: -1px;

    .smooth-top {
      border-bottom: 1px solid rgb(0, 0, 0, 0.1);
      background: linear-gradient(
        to bottom,
        #fff 10%,
        rgba(255, 255, 255, 0.7) 100%
      );
      transform: translate3d(0, 0, 2em);
    }

    .smooth-middle {
      height: 2em;
    }

    .smooth-bottom {
      border-top: 1px solid rgb(0, 0, 0, 0.1);
      background: linear-gradient(
        to top,
        #fff 10%,
        rgba(255, 255, 255, 0.7) 100%
      );
      transform: translate3d(0, 0, 2em);
    }
  }
}

.flex-box {
  display: flex;

  &.direction-column {
    flex-direction: column;
  }

  &.direction-row {
    flex-direction: row;
  }

  .flex-1 {
    flex: 1;
  }

  .flex-2 {
    flex: 2;
  }

  .flex-3 {
    flex: 3;
  }

  .flex-4 {
    flex: 4;
  }

  .flex-5 {
    flex: 5;
  }

  .flex-6 {
    flex: 6;
  }

  .flex-7 {
    flex: 7;
  }

  .flex-8 {
    flex: 8;
  }

  .flex-9 {
    flex: 9;
  }

  .flex-10 {
    flex: 10;
  }

  .flex-11 {
    flex: 11;
  }

  .flex-12 {
    flex: 12;
  }
}
