<template>
  <component
    :is="getLoader"
    :size="size"
    :color="color"
    :accent-color="accentColor"
  />
</template>

<script>
import "epic-spinners/dist/lib/epic-spinners.min.css";
import {
  PixelSpinner,
  FlowerSpinner,
  IntersectingCirclesSpinner,
  OrbitSpinner,
  FingerprintSpinner,
  TrinityRingsSpinner,
  FulfillingSquareSpinner,
  SemipolarSpinner,
  BreedingRhombusSpinner,
  SwappingSquaresSpinner,
  ScalingSquaresSpinner,
  FulfillingBouncingCircleSpinner,
  RadarSpinner,
  SelfBuildingSquareSpinner,
  SpringSpinner,
  HalfCircleSpinner,
  AtomSpinner
} from "epic-spinners/dist/lib/epic-spinners.min.js";
import LoaderCircle1 from "~/components/ui/loaders/LoaderCircle1.vue";
import LoaderCircle2 from "~/components/ui/loaders/LoaderCircle2.vue";
import LoaderCircle3 from "~/components/ui/loaders/LoaderCircle3.vue";
import LoaderCircle5 from "~/components/ui/loaders/LoaderCircle5.vue";
import LoaderCircle6 from "~/components/ui/loaders/LoaderCircle6.vue";
import LoaderHex1 from "~/components/ui/loaders/LoaderHex1.vue";
import LoaderHex2 from "~/components/ui/loaders/LoaderHex2.vue";
import LoaderHex3 from "~/components/ui/loaders/LoaderHex3.vue";
import "vue-loaders/dist/vue-loaders.css";
import SpinKit2 from "~/components/ui/loaders/SpinKit2.vue";
import SpinKit3 from "~/components/ui/loaders/SpinKit3.vue";
import SpinKit4 from "~/components/ui/loaders/SpinKit4.vue";
import SpinKit5 from "~/components/ui/loaders/SpinKit5.vue";
import SpinKit7 from "~/components/ui/loaders/SpinKit7.vue";
import SpinKit10 from "~/components/ui/loaders/SpinKit10.vue";
import SpinKit12 from "~/components/ui/loaders/SpinKit12.vue";
import LoaderCircle7 from "~/components/ui/loaders/LoaderCircle7.vue";
import LoaderCircle8 from "~/components/ui/loaders/LoaderCircle8.vue";
import LoaderCircle9 from "~/components/ui/loaders/LoaderCircle9.vue";
import LoaderCircle10 from "~/components/ui/loaders/LoaderCircle10.vue";
import LoaderCircle12 from "~/components/ui/loaders/LoaderCircle12.vue";
import LoaderCircle13 from "~/components/ui/loaders/LoaderCircle13.vue";
import SVGLoader1 from "~/components/ui/loaders/SVGLoader1.vue";
import SVGLoader2 from "~/components/ui/loaders/SVGLoader2.vue";

export default {
  name: "GlobalLoader",
  props: {
    value: {
      type: String,
      default: ""
    },

    size: {
      type: Number,
      default: 40
    },

    color: {
      type: String,
      default: "#000"
    },

    accentColor: {
      type: String,
      default: ""
    }
  },
  computed: {
    getLoader() {
      switch (this.value) {
        case "PixelSpinner":
          return PixelSpinner;
        case "FlowerSpinner":
          return FlowerSpinner;
        case "IntersectingCirclesSpinner":
          return IntersectingCirclesSpinner;
        case "OrbitSpinner":
          return OrbitSpinner;
        case "FingerprintSpinner":
          return FingerprintSpinner;
        case "TrinityRingsSpinner":
          return TrinityRingsSpinner;
        case "FulfillingSquareSpinner":
          return FulfillingSquareSpinner;
        case "SemipolarSpinner":
          return SemipolarSpinner;
        case "BreedingRhombusSpinner":
          return BreedingRhombusSpinner;
        case "SwappingSquaresSpinner":
          return SwappingSquaresSpinner;
        case "ScalingSquaresSpinner":
          return ScalingSquaresSpinner;
        case "FulfillingBouncingCircleSpinner":
          return FulfillingBouncingCircleSpinner;
        case "RadarSpinner":
          return RadarSpinner;
        case "SelfBuildingSquareSpinner":
          return SelfBuildingSquareSpinner;
        case "SpringSpinner":
          return SpringSpinner;
        case "HalfCircleSpinner":
          return HalfCircleSpinner;
        case "AtomSpinner":
          return AtomSpinner;
        case "LoaderCircle1":
          return LoaderCircle1;
        case "LoaderCircle2":
          return LoaderCircle2;
        case "LoaderCircle3":
          return LoaderCircle3;
        case "LoaderCircle5":
          return LoaderCircle5;
        case "LoaderCircle6":
          return LoaderCircle6;
        case "LoaderCircle7":
          return LoaderCircle7;
        case "LoaderCircle8":
          return LoaderCircle8;
        case "LoaderCircle9":
          return LoaderCircle9;
        case "LoaderCircle10":
          return LoaderCircle10;
        case "LoaderCircle11":
          return LoaderCircle11;
        case "LoaderCircle12":
          return LoaderCircle12;
        case "LoaderCircle13":
          return LoaderCircle13;
        case "LoaderHex1":
          return LoaderHex1;
        case "LoaderHex2":
          return LoaderHex2;
        case "LoaderHex3":
          return LoaderHex3;
        case "SpinKit1":
          return SpinKit1;
        case "SpinKit2":
          return SpinKit2;
        case "SpinKit3":
          return SpinKit3;
        case "SpinKit4":
          return SpinKit4;
        case "SpinKit5":
          return SpinKit5;
        case "SpinKit6":
          return SpinKit6;
        case "SpinKit7":
          return SpinKit7;
        case "SpinKit8":
          return SpinKit8;
        case "SpinKit9":
          return SpinKit9;
        case "SpinKit10":
          return SpinKit10;
        case "SpinKit11":
          return SpinKit11;
        case "SpinKit12":
          return SpinKit12;
        case "SVGLoader1":
          return SVGLoader1;
        case "SVGLoader2":
          return SVGLoader2;
        default:
          return undefined;
      }
    }
  }
};
</script>
