<template>
  <span
    class="loader"
    :style="{
      color: color,
      width: widthAttr,
      height: heightAttr,
      '--accent': accentColor
    }"
  />
</template>

<script>
export default {
  name: "LoaderCircle1",
  props: {
    width: {
      type: String,
      required: false,
      default: ""
    },

    height: {
      type: String,
      required: false,
      default: ""
    },

    size: {
      type: [Number, String],
      required: false,
      default: ""
    },

    color: {
      type: String,
      required: false,
      default: "#0C0C20"
    },

    accentColor: {
      type: String,
      required: false,
      default: "#0C0C20"
    }
  },
  computed: {
    widthAttr() {
      if (this.size)
        return typeof this.size === "number" ? `${this.size}px` : this.size;
      return this.width || "24px";
    },

    heightAttr() {
      if (this.size)
        return typeof this.size === "number" ? `${this.size}px` : this.size;
      return this.height || "24px";
    }
  }
};
</script>

<style lang="scss" scoped>
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 5px solid currentColor;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  border-color: var(--accent);
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
</style>
