<template>
  <div
    class="loader"
    :style="{
      color: color,
      width: widthAttr,
      height: heightAttr,
      '--accent': accentColor
    }"
  ></div>
</template>

<script>
export default {
  name: "LoaderCircle12",
  props: {
    width: {
      type: String,
      required: false,
      default: ""
    },

    height: {
      type: String,
      required: false,
      default: ""
    },

    size: {
      type: [Number, String],
      required: false,
      default: ""
    },

    color: {
      type: String,
      required: false,
      default: "#0C0C20"
    },

    accentColor: {
      type: String,
      required: false,
      default: "#0C0C20"
    }
  },
  computed: {
    widthAttr() {
      if (this.size)
        return typeof this.size === "number" ? `${this.size}px` : this.size;
      return this.width || "24px";
    },

    heightAttr() {
      if (this.size)
        return typeof this.size === "number" ? `${this.size}px` : this.size;
      return this.height || "24px";
    }
  }
};
</script>

<style lang="scss" scoped>
.loader {
  display: block;
  width: 60px;
  height: 60px;
  background: currentColor;
  border-radius: 50%;
  -webkit-animation: spin 3500ms ease-in-out infinite;
  animation: spin 3500ms ease-in-out infinite;
}

@-webkit-keyframes spin {
  0%,
  100% {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  50% {
    -webkit-transform: rotateY(1800deg);
    transform: rotateY(1800deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    -webkit-transform: rotateY(3600deg);
    transform: rotateY(3600deg);
  }
}

@keyframes spin {
  0%,
  100% {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  50% {
    -webkit-transform: rotateY(1800deg);
    transform: rotateY(1800deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    -webkit-transform: rotateY(3600deg);
    transform: rotateY(3600deg);
  }
}
</style>
