<template>
  <div
    class="loader"
    :style="{
      color: color,
      width: widthAttr,
      height: heightAttr,
      '--accent': accentColor
    }"
  ></div>
</template>

<script>
export default {
  name: "LoaderCircle9",
  props: {
    width: {
      type: String,
      required: false,
      default: ""
    },

    height: {
      type: String,
      required: false,
      default: ""
    },

    size: {
      type: [Number, String],
      required: false,
      default: ""
    },

    color: {
      type: String,
      required: false,
      default: "#0C0C20"
    },

    accentColor: {
      type: String,
      required: false,
      default: "#0C0C20"
    }
  },
  computed: {
    widthAttr() {
      if (this.size)
        return typeof this.size === "number" ? `${this.size}px` : this.size;
      return this.width || "24px";
    },

    heightAttr() {
      if (this.size)
        return typeof this.size === "number" ? `${this.size}px` : this.size;
      return this.height || "24px";
    }
  }
};
</script>

<style lang="scss" scoped>
.loader {
  display: block;
  width: 60px;
  height: 60px;
  background: transparent;
  border-radius: 50%;
  position: relative;
  border: 3px solid currentColor;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  -webkit-animation: animate-rotate 600ms linear infinite;
  animation: animate-rotate 600ms linear infinite;
}

@-webkit-keyframes animate-rotate {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes animate-rotate {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
</style>
