<template>
  <div
    class="spinner spinner-3"
    :style="{
      color: color,
      width: widthAttr,
      height: heightAttr,
      '--accent': accentColor
    }"
  ></div>
</template>

<script>
export default {
  name: "LoaderCircle13",
  props: {
    width: {
      type: String,
      required: false,
      default: ""
    },

    height: {
      type: String,
      required: false,
      default: ""
    },

    size: {
      type: [Number, String],
      required: false,
      default: ""
    },

    color: {
      type: String,
      required: false,
      default: "#0C0C20"
    },

    accentColor: {
      type: String,
      required: false,
      default: "#0C0C20"
    }
  },
  computed: {
    widthAttr() {
      if (this.size)
        return typeof this.size === "number" ? `${this.size}px` : this.size;
      return this.width || "24px";
    },

    heightAttr() {
      if (this.size)
        return typeof this.size === "number" ? `${this.size}px` : this.size;
      return this.height || "24px";
    }
  }
};
</script>

<style lang="scss" scoped>
.spinner {
  height: 50px;
  width: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.spinner::before,
.spinner::after {
  content: "";
  display: block;
  position: absolute;
}

.spinner-3 {
  border: 2px solid #eee;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: spinner-3 1.2s ease-in-out infinite forwards;
  -moz-animation: spinner-3 1.2s ease-in-out infinite forwards;
  -o-animation: spinner-3 1.2s ease-in-out infinite forwards;
  animation: spinner-3 1.2s ease-in-out infinite forwards;
}

@-webkit-keyframes spinner-3 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    border-right-color: var(--accent);
    border-left-color: var(--accent);
    border-width: 25px;
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@-moz-keyframes spinner-3 {
  0% {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    border-right-color: var(--accent);
    border-left-color: var(--accent);
    border-width: 25px;
  }

  100% {
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@-o-keyframes spinner-3 {
  0% {
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    border-right-color: var(--accent);
    border-left-color: var(--accent);
    border-width: 25px;
  }

  100% {
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes spinner-3 {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    border-right-color: var(--accent);
    border-left-color: var(--accent);
    border-width: 25px;
  }

  100% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
</style>
