<template>
  <div
    class="loader"
    :style="{
      color: color,
      width: widthAttr,
      height: heightAttr,
      '--accent': accentColor
    }"
  ></div>
</template>

<script>
export default {
  name: "LoaderCircle7",
  props: {
    width: {
      type: String,
      required: false,
      default: ""
    },

    height: {
      type: String,
      required: false,
      default: ""
    },

    size: {
      type: [Number, String],
      required: false,
      default: ""
    },

    color: {
      type: String,
      required: false,
      default: "#0C0C20"
    },

    accentColor: {
      type: String,
      required: false,
      default: "#0C0C20"
    }
  },
  computed: {
    widthAttr() {
      if (this.size)
        return typeof this.size === "number" ? `${this.size}px` : this.size;
      return this.width || "24px";
    },

    heightAttr() {
      if (this.size)
        return typeof this.size === "number" ? `${this.size}px` : this.size;
      return this.height || "24px";
    }
  }
};
</script>

<style lang="scss" scoped>
.loader {
  display: block;
  width: 80px;
  height: 80px;
  background: transparent;
  position: relative;
}

.loader:before,
.loader:after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: currentColor;
  opacity: 0;
  border-radius: 50%;
  -webkit-animation: animate 1200ms ease-in-out infinite;
  animation: animate 1200ms ease-in-out infinite;
}

.loader:after {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes animate {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
</style>
