<template>
  <div
    class="sk-swing"
    :style="{ '--sk-size': `${size}px`, '--sk-color': color }"
  >
    <div class="sk-swing-dot"></div>
    <div class="sk-swing-dot"></div>
  </div>
</template>

<script>
import "spinkit/spinkit.min.css";
export default {
  name: "SpinKit7",
  props: {
    width: {
      type: String,
      required: false,
      default: ""
    },

    height: {
      type: String,
      required: false,
      default: ""
    },

    size: {
      type: [Number, String],
      required: false,
      default: ""
    },

    color: {
      type: String,
      required: false,
      default: "#0C0C20"
    },

    accentColor: {
      type: String,
      required: false,
      default: "#0C0C20"
    }
  },
  computed: {
    widthAttr() {
      if (this.size)
        return typeof this.size === "number" ? `${this.size}px` : this.size;
      return this.width || "24px";
    },

    heightAttr() {
      if (this.size)
        return typeof this.size === "number" ? `${this.size}px` : this.size;
      return this.height || "24px";
    }
  }
};
</script>
