<template>
  <div class="relative flex mt-[12px] first:mt-0">
    <slot />

    <button
      v-if="allowToRemove"
      class="flex items-center justify-center absolute right-[16px] top-1/2 -translate-y-1/2"
      @mouseenter="removeHover = true"
      @mouseleave="removeHover = false"
      @click="$emit('delete')"
    >
      <font-awesome-icon
        class="fa-lg"
        :icon="['fas', 'xmark']"
        :class="removeHover ? 'text-text-primary' : 'text-ghost-gray'"
      />
    </button>
  </div>
</template>

<script lang="ts" setup>
import { ref } from "@nuxtjs/composition-api";

const props = defineProps({
  allowToRemove: {
    type: Boolean,
    default: true
  }
});
const removeHover = ref(false);
</script>
