<template>
  <div
    class="theQuestion bg-white rounded-[20px] p-[32px] w-[664px] mt-[16px] flex flex-col items-start first:mt-[39px]"
  >
    <div class="flex items-start justify-between w-full">
      <textarea
        ref="titleRef"
        class="font-bold text-[24px] leading-[30px] tracking-normal border-none outline-non text-text-primary w-full h-fit resize-none mr-[10px] placeholder-ghost-gray outline-none"
        :value="title"
        :placeholder="titlePlaceholder"
        maxlength="100"
        @focus="resize"
        @input="
          resize();
          $emit('updateTitle', $event.target.value);
        "
      ></textarea>
      <div v-click-outside="hideSettings" class="flex items-center relative">
        <div
          v-if="settings.length"
          v-tooltip="`${$t('builder.settings')}`"
          class="flex items-center ml-[14px] transition transition-colors duration-200 text-ghost-gray cursor-pointer hover:text-text-secondary first:ml-0"
          @click="showSettings = !showSettings"
        >
          <font-awesome-icon
            :style="{ color: 'currentColor' }"
            class="w-[1.3rem] !h-[1.3rem]"
            :icon="['fas', 'gear']"
          />
        </div>

        <settings-popup
          v-if="showSettings"
          :settings="settings"
          width="320px"
          top="calc(100% + 10px)"
          left="-10px"
          @hide="showSettings = false"
          @setSetting="
            (groupIndex, settingIndex, value) =>
              $emit('setSetting', groupIndex, settingIndex, value)
          "
        />

        <div
          v-if="!hideCopy"
          class="flex items-center ml-[14px] transition transition-colors duration-200 text-ghost-gray cursor-pointer w-[1.3rem] h-[1.3rem] hover:text-text-secondary first:ml-0"
          @click="
            $emit('copy');
            showSettings = false;
          "
        >
          <font-awesome-icon
            :style="{ color: 'currentColor' }"
            class="w-[1.3rem] !h-[1.3rem]"
            :icon="['fas', 'copy']"
          />
        </div>
        <div
          v-if="!hideDelete"
          class="flex items-center ml-[14px] transition transition-colors duration-200 text-ghost-gray cursor-pointer w-[1.3rem] h-[1.3rem] hover:text-text-secondary first:ml-0"
          @click="
            $emit('delete');
            showSettings = false;
          "
        >
          <font-awesome-icon
            :style="{ color: 'currentColor' }"
            class="w-[1.3rem] !h-[1.3rem]"
            :icon="['fas', 'trash-can']"
          />
        </div>
      </div>
    </div>

    <q-text-area
      class="mt-[12px]"
      :placeholder="textPlaceholder"
      :value="text"
      @input="(val) => $emit('updateText', val)"
    />

    <slot />
  </div>
</template>

<script>
import ClickOutside from "vue-click-outside";
import SettingsPopup from "~/components/editor/QuizScreen/QuizScreenSettings.vue";
import QTextArea from "~/components/ui/QTextArea.vue";

export default {
  name: "QuizScreenCard",
  components: { QTextArea, SettingsPopup },
  directives: {
    ClickOutside
  },
  props: {
    title: {
      type: String,
      default: ""
    },

    text: {
      type: String,
      default: ""
    },

    titlePlaceholder: {
      type: String,
      default: ""
    },

    textPlaceholder: {
      type: String,
      default: ""
    },

    settings: {
      type: Array,
      default: () => []
    },

    hideCopy: {
      type: Boolean,
      default: false
    },

    hideDelete: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      showSettings: false
    };
  },
  mounted() {
    this.resize();
  },
  methods: {
    hideSettings() {
      this.showSettings = false;
    },

    resize() {
      try {
        const titleInput = this.$refs.titleRef;

        titleInput.style.height = "30px";
        titleInput.style.height = `${titleInput.scrollHeight}px`;
      } catch (e) {
        // eslint-disable-next-line no-console
        console.error(e);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.theQuestion {
  box-shadow: 0 5px 10px rgba(52, 54, 62, 0.06),
    0 1px 3px rgba(47, 52, 64, 0.03);

  .title {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
</style>
