<template>
  <quiz-screen-card
    class="first:mt-[39px]"
    :title="title"
    :text="text"
    :title-placeholder="titlePlaceholder"
    :text-placeholder="textPlaceholder"
    :settings="settings"
    :hide-copy="hideCopy"
    :hide-delete="hideDelete"
    @updateTitle="(title) => $emit('updateTitle', title)"
    @setSetting="$emit('setSetting', ...arguments)"
    @copy="$emit('copy')"
    @delete="$emit('delete')"
    @updateText="(text) => $emit('updateText', text)"
  >
    <div class="flex flex-col mt-[24px] w-full">
      <template v-for="(answer, index) in answers">
        <quiz-screen-control-container
          v-if="answer.type === 'button'"
          :key="index"
          :allow-to-remove="answers.length > 1"
          @delete="$emit('deleteControl', index)"
        >
          <q-text-field
            class="mt-[12px] first:mt-0"
            :placeholder="$t(answer.placeholder).toString()"
            :value="answer.title"
            :max-length="50"
            @input="(title) => $emit('updateControl', index, { title: title })"
          />
        </quiz-screen-control-container>

        <quiz-screen-control-container
          v-else-if="answer.type === 'button-multiple'"
          :key="index"
          :allow-to-remove="answers.length > 1"
          @delete="$emit('deleteControl', index)"
        >
          <q-text-field
            class="mt-[12px] first:mt-0"
            :placeholder="$t(answer.placeholder).toString()"
            :value="answer.title"
            :max-length="50"
            @input="(title) => $emit('updateControl', index, { title: title })"
          />
        </quiz-screen-control-container>

        <quiz-screen-control-container
          v-else-if="answer.type === 'textfield'"
          :key="index"
          :allow-to-remove="answers.length > 1"
          @delete="$emit('deleteControl', index)"
        >
          <q-text-field
            class="mt-[12px] first:mt-0"
            :value="answer.value"
            :placeholder="$t(answer.placeholder).toString()"
            :max-length="100"
            @input="
              (placeholder) =>
                $emit('updateControl', index, { value: placeholder })
            "
          />
        </quiz-screen-control-container>

        <quiz-screen-control-container
          v-else-if="answer.type === 'textarea'"
          :key="index"
          :allow-to-remove="answers.length > 1"
          @delete="$emit('deleteControl', index)"
        >
          <q-text-area
            class="mt-[12px] first:mt-0"
            :value="answer.value"
            :placeholder="$t(answer.placeholder).toString()"
            :max-length="250"
            @input="
              (placeholder) =>
                $emit('updateControl', index, { value: placeholder })
            "
          >
          </q-text-area>
        </quiz-screen-control-container>

        <quiz-screen-control-container
          v-else-if="
            answer.type === 'datetime' ||
            answer.type === 'date' ||
            answer.type === 'time'
          "
          :key="index"
          :allow-to-remove="false"
          @delete="$emit('deleteControl', index)"
        >
          <q-text-field
            class="mt-[12px] first:mt-0"
            :value="answer.value"
            :placeholder="$t(answer.placeholder).toString()"
            @input="
              (placeholder) =>
                $emit('updateControl', index, { value: placeholder })
            "
          />
        </quiz-screen-control-container>

        <quiz-screen-control-container
          v-else-if="answer.type === 'select'"
          :key="index"
          :allow-to-remove="answers.length > 1"
          @delete="$emit('deleteControl', index)"
        >
          <q-editable-select
            class="mt-[12px] first:mt-0"
            :options="answer.value"
            :placeholder="$t(answer.placeholder).toString()"
            :new-option-text="$t('builder.answer').toString()"
            :add-option-text="$t('builder.addAnswer').toString()"
            @updateOption="
              (optionIndex, optionText) =>
                $emit('updateOption', optionIndex, optionText)
            "
            @addOption="
              (option) =>
                $emit('updateControl', index, {
                  value: [...answer.value, option]
                })
            "
            @deleteOption="(optionIndex) => $emit('deleteOption', optionIndex)"
          />
        </quiz-screen-control-container>
      </template>
    </div>

    <div
      v-if="allowedToAddAnswers"
      class="button is-primary is-rounded mt-[24px]"
      @click="addAnswer"
    >
      <font-awesome-icon :icon="['fas', 'plus']" style="margin-right: 13px" />
      {{ $t("builder.addAnswer") }}
    </div>
  </quiz-screen-card>
</template>

<script>
import QTextField from "~/components/ui/QTextField.vue";
import QEditableSelect from "~/components/ui/QEditableSelect.vue";
import QTextArea from "~/components/ui/QTextArea.vue";
import QuizScreenCard from "~/components/editor/QuizScreen/QuizScreenCard.vue";
import QuizScreenControlContainer from "~/components/editor/QuizScreen/QuizScreenControlContainer.vue";

export default {
  name: "QuizScreenQuestion",
  components: {
    QuizScreenControlContainer,
    QuizScreenCard,
    QTextField,
    QEditableSelect,
    QTextArea
  },
  props: {
    title: {
      type: String,
      default: ""
    },

    text: {
      type: String,
      default: ""
    },

    answers: {
      type: Array,
      default: () => []
    },

    settings: {
      type: Array,
      default: () => []
    },

    hideCopy: {
      type: Boolean,
      default: false
    },

    hideDelete: {
      type: Boolean,
      default: false
    },

    titlePlaceholder: {
      type: String,
      default: ""
    },

    textPlaceholder: {
      type: String,
      default: ""
    }
  },
  data: () => ({
    allowedMoreAnswersTypes: ["button", "button-multiple"],
    maxCountAnswer: 20
  }),
  computed: {
    allowedToAddAnswers() {
      let allowed = false;
      let count = 0;

      Object.values(this.answers).forEach((answer) => {
        if (this.allowedMoreAnswersTypes.includes(answer.type)) {
          allowed = answer.type;
          count++;
        }

        if (count >= 20) allowed = false;
      });

      return allowed;
    }
  },
  methods: {
    addAnswer() {
      this.$emit("addAnswer", {
        type: this.allowedToAddAnswers,
        placeholder: this.$t("builder.answer"),
        title: ""
      });
    }
  }
};
</script>
