<template>
  <transition
    :duration="180"
    name="fade"
    appear
    appear-active-class="fade-enter-active"
  >
    <div
      class="settingsPopup bg-white p-[24px] pb-[28px] rounded-[16px] flex flex-col absolute z-[1]"
      :style="{
        width: width,
        top: top,
        right: right,
        bottom: bottom,
        left: left
      }"
    >
      <div class="flex justify-between">
        <div
          class="font-semibold text-[24px] leading-[24px] tracking-tight text-text-primary"
          v-text="$t('builder.settings')"
        />

        <div
          class="transition-colors cursor-pointer text-ghost-gray hover:text-text-secondary duration-200 transition"
          @click="$emit('hide')"
        >
          <font-awesome-icon class="fa-lg" :icon="['fas', 'xmark']" />
        </div>
      </div>

      <div class="groups">
        <div
          v-for="(settingGroup, groupIndex) in settings"
          :key="groupIndex"
          class="border-t-gray-light border-t flex flex-col py-[24px] first:border-t-0 last:pb-0"
        >
          <template v-for="(setting, index) in settingGroup">
            <div
              v-if="setting.type === 'toggle'"
              :key="index"
              class="mt-[16px] first:mt-0"
            >
              <div class="flex justify-between items-center">
                <div
                  class="font-medium text-[17px] leading-[24px] tracking-tight text-text-secondary"
                  v-text="$t(setting.title)"
                />

                <div class="flex items-center text-primary">
                  <toggle-button
                    :value="setting.value"
                    :width="36"
                    :height="20"
                    color="currentcolor"
                    @input="
                      (value) =>
                        updateSetting(groupIndex, index, setting, {
                          value: value
                        })
                    "
                  />
                </div>
              </div>

              <div
                v-if="setting.hint"
                class="mt-[6px] font-medium text-[13px] leading-[24px] tracking-tight text-text-secondary"
                v-text="$t(setting.hint)"
              />
            </div>

            <div
              v-if="setting.type === 'checkbox'"
              :key="index"
              class="mt-[16px] first:mt-0 flex justify-between items-center"
            >
              <div style="width: 100%; padding-right: 12px">
                <div
                  class="font-medium text-[17px] leading-[24px] tracking-tight text-text-secondary"
                  v-text="$t(setting.title)"
                />

                <input
                  v-if="setting.name === 'withTimer'"
                  class="outline-none p-[8px] w-full border-2 border-solid rounded-[12px] transition transition-colors duration-200 mt-[8px] text-text-primary"
                  :disabled="!setting.value"
                  style="margin-top: 8px; width: 100%"
                  type="number"
                  min="1"
                  max="10"
                  :value="setting.inputValue"
                  required
                  @input="
                    (element) =>
                      updateSetting(groupIndex, index, setting, {
                        inputValue: validInput(
                          1,
                          10,
                          parseInt(element.target.value)
                        )
                      })
                  "
                />

                <div
                  v-if="setting.hint"
                  class="mt-[6px] font-medium text-[13px] leading-[24px] tracking-tight text-text-secondary"
                  v-text="$t(setting.hint)"
                />
              </div>

              <div class="flex items-center text-primary">
                <q-radio-button
                  :checked="setting.value"
                  @click="checkRadio(groupIndex, index)"
                />
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import QRadioButton from "~/components/ui/QRadioButton.vue";
import scssColors from "~/assets/styles/core/variables.scss";

export default {
  components: { QRadioButton },
  props: {
    width: {
      type: String,
      default: "300px"
    },
    top: {
      type: String,
      default: "0"
    },
    right: {
      type: String,
      default: null
    },
    bottom: {
      type: String,
      default: null
    },
    left: {
      type: String,
      default: null
    },
    settings: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      scssColors
    };
  },
  methods: {
    updateSetting(groupIndex, settingIndex, settingObject, value) {
      this.$emit("setSetting", groupIndex, settingIndex, {
        ...settingObject,
        ...value
      });
    },

    validInput(min, max, value) {
      if (value < min) return min;

      if (value > max) return max;

      return value;
    },

    checkRadio(groupIndex, radioIndex) {
      const settings = this.settings;
      settings[groupIndex]?.forEach((setting, index) => {
        if (setting.type === "checkbox") {
          if (index === radioIndex) {
            this.updateSetting(groupIndex, index, setting, { value: true });
          } else {
            this.updateSetting(groupIndex, index, setting, { value: false });
          }
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.settingsPopup {
  box-shadow: 0 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);

  input[type="number"] {
    border: 2px solid rgba(25, 25, 37, 0.1);
  }
}
</style>
