<template>
  <quiz-screen-card
    :title="title"
    :text="text"
    :title-placeholder="titlePlaceholder"
    :text-placeholder="textPlaceholder"
    :settings="settings"
    :hide-copy="hideCopy"
    :hide-delete="hideDelete"
    @updateTitle="(title) => $emit('updateTitle', title)"
    @setSetting="$emit('setSetting', ...arguments)"
    @copy="$emit('copy')"
    @delete="$emit('delete')"
    @updateText="(text) => $emit('updateText', text)"
  >
    <div class="flex flex-col w-full">
      <div v-if="!loader" class="flex items-center mt-[24px]">
        <loader-select
          class="w-full"
          @select="(val) => $emit('setLoader', val)"
        />
      </div>

      <div
        v-if="loader"
        class="mt-[24px] w-[169px] h-[169px] relative flex items-center justify-center image-delete rounded-3xl"
      >
        <global-loader
          :value="loader"
          :size="40"
          :accent-color="theme.subscribe.background"
        />

        <button
          class="image-delete hover:text-text-secondary w-[40px] h-[40px] flex items-center justify-center rounded-full bg-white absolute right-[12px] top-[12px] text-ghost-gray transition transition-colors"
          @click="$emit('setLoader', null)"
        >
          <font-awesome-icon class="fa-lg" :icon="['fas', 'xmark']" />
        </button>
      </div>
    </div>
  </quiz-screen-card>
</template>

<script setup>
import { storeToRefs } from "pinia";
import { useQuizStore } from "~/stores";

import LoaderSelect from "~/components/editor/LoaderSelect.vue";
import GlobalLoader from "~/components/ui/loaders/GlobalLoader.vue";
import QuizScreenCard from "~/components/editor/QuizScreen/QuizScreenCard.vue";

const quizStore = useQuizStore();

const props = defineProps({
  title: {
    type: String,
    default: ""
  },

  text: {
    type: String,
    default: ""
  },

  titlePlaceholder: {
    type: String,
    default: ""
  },

  textPlaceholder: {
    type: String,
    default: ""
  },

  loader: {
    type: [String, Object],
    default: ""
  },

  settings: {
    type: Array,
    default: () => []
  },

  hideCopy: {
    type: Boolean,
    default: false
  },

  hideDelete: {
    type: Boolean,
    default: false
  }
});

const { theme } = storeToRefs(quizStore);
</script>

<style lang="scss" scoped>
.image-delete {
  box-shadow: 0 5px 10px rgba(52, 54, 62, 0.06),
    0 1px 3px rgba(47, 52, 64, 0.03);
}
</style>
