<template>
  <transition name="fade" appear appear-active-class="fade-enter-active">
    <quiz-screen-loader
      v-if="screen.type === 'loader'"
      :title="screen.title"
      :text="screen.text"
      :title-placeholder="$t(screen.titlePlaceholder).toString()"
      :text-placeholder="$t(screen.textPlaceholder).toString()"
      :settings="screen.settings"
      :loader="screen.loader"
      @updateTitle="updateTitle"
      @copy="copyScreen"
      @updateText="updateText"
      @setLoader="updateLoaderLoader"
      @delete="$emit('delete')"
      @setSetting="setSetting"
    >
    </quiz-screen-loader>

    <quiz-screen-question
      v-else
      :title="screen.title"
      :text="screen.text"
      :title-placeholder="$t(screen.titlePlaceholder).toString()"
      :text-placeholder="$t(screen.textPlaceholder).toString()"
      :settings="screen.settings"
      :answers="screen.answers"
      :hide-delete="systemScreen"
      :hide-copy="systemScreen"
      @updateTitle="updateTitle"
      @updateText="updateText"
      @deleteControl="deleteControl"
      @updateControl="updateControl"
      @addAnswer="addControl"
      @copy="copyScreen"
      @delete="$emit('delete')"
      @setSetting="setSetting"
      @deleteOption="deleteSelectOption"
      @updateOption="updateSelectOption"
    />
  </transition>
</template>

<script lang="ts" setup>
import {
  useContext,
  getCurrentInstance,
  PropType
} from "@nuxtjs/composition-api";
import { storeToRefs } from "pinia";
import { useQuizStore } from "~/stores";
import { Screen } from "~/models/screen";
import { Answer } from "~/models/answer";
import QuizScreenQuestion from "~/components/editor/QuizScreen/QuizScreenQuestion.vue";
import QuizScreenLoader from "~/components/editor/QuizScreen/QuizScreenLoader.vue";

const props = defineProps({
  screen: {
    type: Object as PropType<Screen>,
    default: () => {}
  },

  systemScreen: {
    type: Boolean,
    default: false
  },

  index: {
    type: Number,
    default: -1
  }
});

const { i18n } = useContext();
const quizStore = useQuizStore();
const { screens } = storeToRefs(quizStore);

const root = getCurrentInstance();

function deleteControl(controlIndex: number) {
  quizStore.removeControl({
    screenIndex: props.index,
    controlIndex,
    systemScreen: props.systemScreen
  });
}

function updateControl(controlIndex: number, updatedFields: Answer) {
  const screen = props.systemScreen
    ? quizStore.systemScreens[props.index]
    : quizStore.screens[props.index];

  if (!screen.answers) return;

  const answerFields = JSON.parse(JSON.stringify(screen.answers[controlIndex]));

  quizStore.setControl({
    screenIndex: props.index,
    answerIndex: controlIndex,
    value: { ...answerFields, ...updatedFields },
    systemScreen: props.systemScreen
  });
}

function addControl(control: Answer) {
  quizStore.addControl({
    control,
    screenIndex: props.index,
    systemScreen: props.systemScreen
  });
}

function updateTitle(title: string) {
  quizStore.setQuestionTitle({
    screenIndex: props.index,
    title,
    systemScreen: props.systemScreen
  });
}

function updateText(text: string) {
  const newScreen = JSON.parse(JSON.stringify(props.screen));
  newScreen.text = text;

  quizStore.setScreen({
    index: props.index,
    screen: newScreen,
    systemScreen: props.systemScreen
  });
}

function copyScreen() {
  quizStore.copyScreen({
    screenIndex: props.index,
    systemScreen: props.systemScreen
  });

  const questions = document.querySelectorAll(".theQuestion");

  root?.proxy?.$smoothScroll({
    scrollTo: questions[props.index],
    duration: 1000,
    offset: 250
  });
}

function setSetting(groupIndex: number, index: number, setting: any) {
  switch (setting.name) {
    case "isTextarea":
      updateControl(index, {
        type: setting.value ? "textarea" : "textfield"
      });

      quizStore.setScreenSetting({
        screenIndex: props.index,
        groupIndex,
        settingIndex: index,
        value: setting,
        systemScreen: props.systemScreen
      });
      break;
    case "includeTime":
      if (setting.value) {
        addControl({
          value: "",
          type: "time",
          placeholder: i18n.t("builder.dateScreenChooseTime").toString()
        });
      } else {
        deleteControl(1);
      }

      quizStore.setScreenSetting({
        screenIndex: props.index,
        groupIndex,
        settingIndex: index,
        value: setting,
        systemScreen: props.systemScreen
      });
      break;
    case "nextOnClick":
      quizStore.setScreenSetting({
        screenIndex: props.index,
        groupIndex,
        settingIndex: index,
        value: setting,
        systemScreen: props.systemScreen
      });
      break;
    case "noTimer":
      quizStore.setScreenSetting({
        screenIndex: props.index,
        groupIndex,
        settingIndex: index,
        value: setting,
        systemScreen: props.systemScreen
      });
      break;
    case "withTimer":
      quizStore.setScreenSetting({
        screenIndex: props.index,
        groupIndex,
        settingIndex: index,
        value: setting,
        systemScreen: props.systemScreen
      });
      break;
    case "image-up":
      quizStore.setScreenSetting({
        screenIndex: props.index,
        groupIndex,
        settingIndex: index,
        value: setting,
        systemScreen: props.systemScreen
      });
      break;
    case "image-down":
      quizStore.setScreenSetting({
        screenIndex: props.index,
        groupIndex,
        settingIndex: index,
        value: setting,
        systemScreen: props.systemScreen
      });
      break;
    case "image-small":
      quizStore.setScreenSetting({
        screenIndex: props.index,
        groupIndex,
        settingIndex: index,
        value: setting,
        systemScreen: props.systemScreen
      });
      break;
    case "image-medium":
      quizStore.setScreenSetting({
        screenIndex: props.index,
        groupIndex,
        settingIndex: index,
        value: setting,
        systemScreen: props.systemScreen
      });
      break;
    case "image-large":
      quizStore.setScreenSetting({
        screenIndex: props.index,
        groupIndex,
        settingIndex: index,
        value: setting,
        systemScreen: props.systemScreen
      });
      break;
  }
}

function deleteSelectOption(index: number) {
  if (!props.screen?.answers) return;
  const oldOptions = JSON.parse(JSON.stringify(props.screen.answers[0].value));

  oldOptions.splice(index, 1);

  updateControl(0, { value: oldOptions });
}

function updateSelectOption(index: number, text: string) {
  if (!props.screen?.answers) return;

  const oldOptions = JSON.parse(JSON.stringify(props.screen.answers[0].value));
  oldOptions[index] = text;
  updateControl(0, { value: oldOptions });
}

function updateLoaderLoader(loader: any) {
  const newScreen = JSON.parse(JSON.stringify(props.screen));
  newScreen.loader = loader;

  quizStore.setScreen({
    index: props.index,
    screen: newScreen,
    systemScreen: props.systemScreen
  });
}
</script>
