<template>
  <div class="flex flex-col min-h-full">
    <the-toolbar />
    <Nuxt />
    <modal-mobile-unsupported />

    <notifications position="bottom right" group="foo" />
  </div>
</template>

<script>
import TheToolbar from "~/components/editor/TheToolbar.vue";
import ModalMobileUnsupported from "~/components/modals/ModalMobileUnsupported.vue";

export default {
  name: "DefaultLayout",
  components: {
    TheToolbar,
    ModalMobileUnsupported
  },
  head() {
    return {
      title: this.$t("builder.headTitle")
    };
  }
};
</script>
