<template>
  <div class="flex flex-col min-h-full">
    <toolbar-preview />
    <customize-sidebar />
    <Nuxt />
    <!--    <modal-first-publish />-->
    <notifications position="bottom right" group="foo" />
  </div>
</template>

<script>
import ToolbarPreview from "~/components/preview/ToolbarPreview.vue";
import CustomizeSidebar from "~/components/preview/ThemeCustomizer/ThemeCustomizer.vue";

export default {
  name: "PreviewLayout",
  components: {
    CustomizeSidebar,
    ToolbarPreview
  },
  head() {
    return {
      title: this.$t("builder.headTitle")
    };
  }
};
</script>
