<template>
  <div class="flex flex-col items-center pb-[250px]">
    <lets-begin v-if="!screens.length" />

    <div v-else class="flex flex-col items-center">
      <quiz-screen
        v-for="(screen, index) in screens"
        :key="index"
        :screen="screen"
        :index="index"
        class="user-screens"
        @delete="() => triggerDeleteScreen({ index, systemScreen: false })"
      />

      <add-screen-button
        :style="{ marginTop: !screens.length ? '52px' : '16px' }"
      />

      <div
        class="text-silver-chalice font-medium text-[14px] leading-[20px] w-full mt-[24px] text-left flex items-center"
      >
        {{ $t("builder.systemScreens") }}

        <div
          v-tooltip="$t('builder.systemScreensTooltip')"
          class="ml-[6px] transition duration-200 transition-all flex items-center cursor-pointer hover:text-primary"
        >
          <font-awesome-icon
            size="lg"
            :icon="['fas', 'circle-question']"
            style="color: currentcolor"
          />
        </div>
      </div>

      <quiz-screen
        v-for="(screen, index) in systemScreens"
        :key="`sys-${index}`"
        :screen="screen"
        system-screen
        :index="index"
      />
    </div>

    <modal-remove-screen v-model="showDeleteScreen" @confirm="deleteScreen" />
  </div>
</template>

<script setup lang="ts">
import { onMounted, useContext, ref } from "@nuxtjs/composition-api";
import { storeToRefs } from "pinia";
import LetsBegin from "~/components/editor/LetsBegin.vue";
import { useQuizStore } from "~/stores";
import ModalRemoveScreen from "~/components/modals/ModalRemoveScreen.vue";
import QuizScreen from "~/components/editor/QuizScreen/QuizScreen.vue";
import AddScreenButton from "~/components/editor/AddScreenButton.vue";

const { i18n } = useContext();

const quizStore = useQuizStore();
const { screens, systemScreens } = storeToRefs(quizStore);

const showDeleteScreen = ref(false);
const screenToDelete = ref({ index: 0, systemScreen: false });

onMounted(() => {
  quizStore.init();
  addSystemScreens();
});

function addSystemScreens() {
  if (systemScreens.value.length > 0) return;

  quizStore.addScreen({
    screenIndex: 0,
    screen: {
      type: "system",
      title: i18n.t("builder.emailScreen.title").toString(),
      text: i18n.t("builder.emailScreen.text").toString(),
      titlePlaceholder: "builder.emailScreen.title",
      textPlaceholder: "builder.emailScreen.text",
      answers: [
        {
          value: "",
          type: "textfield",
          placeholder: "builder.emailScreen.emailInputPlaceholder"
        }
      ],
      settings: []
    },
    systemScreen: true
  });
}

function triggerDeleteScreen(data: { index: number; systemScreen: boolean }) {
  showDeleteScreen.value = true;
  screenToDelete.value = data;
}

function deleteScreen() {
  quizStore.removeScreen({
    index: screenToDelete.value.index,
    systemScreen: screenToDelete.value.systemScreen
  });
  showDeleteScreen.value = false;
}
</script>
