<template>
  <div
    class="bg-white-smoke h-full flex-grow flex items-center justify-center pt-[57px] relative overflow-x-hidden"
  >
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
      <div
        ref="phone"
        class="flex flex-col relative w-[360px] max-h-[745px] m-[10px]"
      >
        <transition name="fade" appear-active-class="fade-enter-active">
          <quiz-preview class="absolute left-0 top-0 w-full h-full p-[16px]" />
        </transition>
        <img
          class="relative z-[2] pointer-events-none"
          src="@/assets/images/phone.png"
          alt=""
        />
      </div>
    </div>
    <slide-controller
      :total="screens.length + 1"
      :count="previewCurrentScreen + 1"
      class="fixed left-1/2 bottom-[16px] -translate-x-1/2"
      @next="next"
      @prev="prev"
    />
  </div>
</template>

<script setup>
import {
  onMounted,
  onBeforeUnmount,
  ref,
  getCurrentInstance
} from "@nuxtjs/composition-api";
import QuizPreview from "@/components/preview/QuizPreview";
import SlideController from "@/components/preview/SlideController";
import { useQuizStore } from "~/stores";

const store = useQuizStore();
const phone = ref(null);

const root = getCurrentInstance();
onBeforeUnmount(() => {
  store.setPreviewCurrentScreen(0);
});

const { screens, previewCurrentScreen } = store;

onMounted(() => {
  store.init();
  scalePreview();

  onMounted(() => {
    window.addEventListener("resize", () => scalePreview());
  });
});

const scalePreview = () => {
  phone.value.setAttribute(
    "style",
    `transform: scale(${window.innerHeight / 950})`
  );
};

const next = () => {
  if (previewCurrentScreen !== screens.length) {
    store.setPreviewCurrentScreen(previewCurrentScreen + 1);
    // root.$emit('updatePreviewCurrentScreen');
  }
};

const prev = () => {
  if (previewCurrentScreen !== 0) {
    store.setPreviewCurrentScreen(previewCurrentScreen - 1);
    // root.$emit('updatePreviewCurrentScreen');
  }
};
</script>

<script>
export default {
  layout: "preview"
};
</script>
