<template>
  <q-modal :value="value" @input="(val) => $emit('input', val)">
    <template #title>
      {{ $t("builder.modalConfirmDeletion") }}
    </template>

    <template #body>
      <p v-text="$t('builder.modalConfirmDeletionText')" />
    </template>

    <template #footer>
      <footer class="modal-card-foot">
        <button
          class="button is-danger ml-auto"
          @click="$emit('confirm')"
          v-text="$t('common.confirm')"
        />
        <button
          class="button is-success"
          @click="$emit('input', false)"
          v-text="$t('common.cancel')"
        />
      </footer>
    </template>
  </q-modal>
</template>

<script lang="ts" setup>
import QModal from "~/components/ui/QModal.vue";

const props = defineProps({
  value: {
    type: Boolean,
    default: false
  }
});

const emit = defineEmits(["input"]);
</script>
