<template>
  <client-only>
    <transition name="fade" appear appear-active-class="fade-enter-active">
      <div
        v-if="windowWidth < 1024 && !mobileDeviceAccepted"
        class="fixed left-0 top-0 w-full h-full z-[12]"
      >
        <div class="bg-text-primary bg-opacity-30 w-full h-full" />
        <div
          class="text-white bg-primary w-[400px] rounded-[16px] border-none fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 p-[1rem] flex flex-col"
        >
          <h2 class="text-2xl font-semibold">{{ $t("common.warning") }}</h2>
          <p class="mt-[6px] text-md">
            {{ $t("builder.notOptimisedForMobile") }}
          </p>
          <button
            class="text-text-secondary bg-white mt-[16px] w-full text-center rounded-[12px] border-none py-[10px] px-[20px] transition-opacity duration-200 font-medium text-[15px] leading-[20px] cursor-pointer hover:opacity-80"
            @click="acceptMobile"
          >
            {{ $t("common.accept") }}
          </button>
        </div>
      </div>
    </transition>
  </client-only>
</template>

<script setup>
import { onMounted, ref } from "@nuxtjs/composition-api";
import { storeToRefs } from "pinia";
import { useQuizStore } from "~/stores";

const windowWidth = ref(1000);

const quizStore = useQuizStore();
const { acceptMobile } = quizStore;

const { mobileDeviceAccepted } = storeToRefs(quizStore);

onMounted(() => {
  windowWidth.value = window.innerWidth;
  window.addEventListener("resize", getWidth);
});

function getWidth() {
  windowWidth.value = window.innerWidth;
}
</script>
