<template>
  <q-modal
    width="780px"
    height="686px"
    :value="value"
    @input="(val) => $emit('input', val)"
  >
    <template #title>{{ $t("builder.loadersGallery") }}</template>

    <template #body>
      <div class="w-full h-full grid grid-cols-5 gap-[8px]">
        <client-only>
          <div
            v-for="(loader, index) in loaders"
            :key="index"
            class="loader-container bg-white-smoke border border-white-smoke w-[140px] h-[140px] rounded-[16px] flex items-center justify-center relative cursor-pointer"
            :class="{ active: selected === loader }"
            @click="selected = loader"
          >
            <global-loader
              :value="loader"
              :size="40"
              :scale="1"
              color="#333"
              :accent-color="theme.subscribe.background"
            />
          </div>
        </client-only>
      </div>
    </template>

    <template #footer>
      <footer class="modal-card-foot items-center flex !justify-end w-full">
        <button
          class="button is-primary has-text-weight-medium"
          :disabled="!selected"
          @click="select"
        >
          {{ $t("common.choose") }}
        </button>
      </footer>
    </template>
  </q-modal>
</template>

<script setup>
import { storeToRefs } from "pinia";
import { ref } from "@nuxtjs/composition-api";
import { useQuizStore } from "~/stores";

import GlobalLoader from "~/components/ui/loaders/GlobalLoader.vue";
import QModal from "~/components/ui/QModal.vue";

const props = defineProps({
  value: {
    type: Boolean,
    default: false
  }
});

const emit = defineEmits(["select"]);
const quizStore = useQuizStore();

const { theme } = storeToRefs(quizStore);

const loaders = [
  "PixelSpinner",
  "FlowerSpinner",
  "IntersectingCirclesSpinner",
  "OrbitSpinner",
  "FingerprintSpinner",
  "TrinityRingsSpinner",
  "FulfillingSquareSpinner",
  "SemipolarSpinner",
  "BreedingRhombusSpinner",
  "SwappingSquaresSpinner",
  "ScalingSquaresSpinner",
  "FulfillingBouncingCircleSpinner",
  "RadarSpinner",
  "SelfBuildingSquareSpinner",
  "SpringSpinner",
  "HalfCircleSpinner",
  "AtomSpinner",
  "LoaderCircle1",
  "LoaderCircle2",
  "LoaderCircle3",
  "LoaderCircle5",
  "LoaderCircle6",
  "LoaderCircle7",
  "LoaderCircle8",
  "LoaderCircle9",
  "LoaderCircle10",
  "LoaderCircle12",
  "LoaderCircle13",
  "LoaderHex1",
  "LoaderHex2",
  "LoaderHex3",
  "SpinKit2",
  "SpinKit3",
  "SpinKit4",
  "SpinKit5",
  "SpinKit7",
  "SpinKit10",
  "SpinKit12",
  "SVGLoader1",
  "SVGLoader2"
];
const selected = ref(null);

function select() {
  if (selected) emit("select", selected.value);
}
</script>

<style lang="scss" scoped>
.loader-container {
  &::after {
    content: "";
    width: 150px;
    height: 150px;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    opacity: 0;

    border: 2px solid $primary;
    border-radius: 20px;

    transition: all 0.1s ease;
    pointer-events: none;
  }

  &:hover,
  &.active {
    &::after {
      opacity: 1;
    }
  }
}
</style>
