<template>
  <iframe
    ref="iframe"
    class="w-full h-full border-none"
    :src="`${$config.QUIZ_URL}/preview`"
  />
</template>

<script setup>
import { ref, onMounted, onBeforeUnmount } from "vue";
import { storeToRefs } from "pinia";
import { useQuizStore } from "~/stores";

const iframe = ref(null);

const quizStore = useQuizStore();
const {
  screens,
  systemScreens,
  theme,
  themeDark,
  themeBackgroundStyle,
  themeBackgroundValue,
  previewCurrentScreen
} = storeToRefs(quizStore);

const sendQuizInfo = () => {
  if (!iframe.value) return;

  iframe.value.contentWindow.postMessage(
    { type: "screens", data: screens.value },
    "*"
  );

  iframe.value.contentWindow.postMessage(
    { type: "systemScreens", data: systemScreens.value },
    "*"
  );

  iframe.value.contentWindow.postMessage(
    { type: "theme", data: theme.value },
    "*"
  );

  iframe.value.contentWindow.postMessage(
    { type: "darkness", data: themeDark.value },
    "*"
  );

  iframe.value.contentWindow.postMessage(
    { type: "backgroundStyle", data: themeBackgroundStyle.value },
    "*"
  );

  iframe.value.contentWindow.postMessage(
    { type: "backgroundValue", data: themeBackgroundValue.value },
    "*"
  );

  iframe.value.contentWindow.postMessage(
    { type: "currentScreen", data: previewCurrentScreen.value },
    "*"
  );
};

const checkPreviewMessages = (e) => {
  if (!e.data) return;

  const { type, data } = e.data;

  switch (type) {
    case "currentScreen":
      quizStore.setPreviewCurrentScreen(data);
  }
};

onMounted(() => {
  sendQuizInfo();
  window.addEventListener("message", checkPreviewMessages);
  iframe.value.addEventListener("load", sendQuizInfo);
  $nuxt.$on("updatePreviewCurrentScreen", sendQuizInfo);
});

onBeforeUnmount(() => {
  window.removeEventListener("message", checkPreviewMessages);
  iframe.value.removeEventListener("load", sendQuizInfo);
  $nuxt.$off("updatePreviewCurrentScreen", sendQuizInfo);
});
</script>

<!--<script>-->
<!--import { mapMutations, mapState } from "vuex";-->

<!--export default {-->
<!--  name: "QuizPreview",-->
<!--  computed: {-->
<!--    ...mapState([-->
<!--      "screens",-->
<!--      "systemScreens",-->
<!--      "theme",-->
<!--      "themeDark",-->
<!--      "themeBackgroundStyle",-->
<!--      "themeBackgroundValue",-->
<!--      "previewCurrentScreen"-->
<!--    ])-->
<!--  },-->
<!--  watch: {-->
<!--    screens() {-->
<!--      this.sendQuizInfo();-->
<!--    },-->

<!--    theme() {-->
<!--      this.sendQuizInfo();-->
<!--    },-->

<!--    themeDark() {-->
<!--      this.sendQuizInfo();-->
<!--    },-->

<!--    themeBackgroundStyle() {-->
<!--      this.sendQuizInfo();-->
<!--    },-->

<!--    themeBackgroundValue() {-->
<!--      this.sendQuizInfo();-->
<!--    }-->
<!--  },-->
<!--  mounted() {-->
<!--    window.addEventListener("message", (e) => this.checkPreviewMessages(e));-->
<!--    this.iframe.value.addEventListener("load", this.sendQuizInfo);-->
<!--    this.$nuxt.$on("updatePreviewCurrentScreen", () => this.sendQuizInfo());-->
<!--  },-->
<!--  beforeDestroy() {-->
<!--    window.removeEventListener("message", (e) => this.checkPreviewMessages(e));-->
<!--    this.iframe.value.removeEventListener("load", this.sendQuizInfo);-->
<!--    this.$nuxt.$off("updatePreviewCurrentScreen", () => this.sendQuizInfo());-->
<!--  },-->
<!--  methods: {-->
<!--    ...mapMutations(["SET_PREVIEW_CURRENT_SCREEN"]),-->

<!--    sendQuizInfo() {-->
<!--      if (!this.iframe) return;-->

<!--      this.iframe.value.contentWindow.postMessage(-->
<!--        {-->
<!--          type: "screens",-->
<!--          data: this.screens-->
<!--        },-->
<!--        "*"-->
<!--      );-->

<!--      this.iframe.value.contentWindow.postMessage(-->
<!--        {-->
<!--          type: "systemScreens",-->
<!--          data: this.systemScreens-->
<!--        },-->
<!--        "*"-->
<!--      );-->

<!--      this.iframe.value.contentWindow.postMessage(-->
<!--        {-->
<!--          type: "theme",-->
<!--          data: this.theme-->
<!--        },-->
<!--        "*"-->
<!--      );-->

<!--      this.iframe.value.contentWindow.postMessage(-->
<!--        {-->
<!--          type: "darkness",-->
<!--          data: this.themeDark-->
<!--        },-->
<!--        "*"-->
<!--      );-->

<!--      this.iframe.value.contentWindow.postMessage(-->
<!--        {-->
<!--          type: "backgroundStyle",-->
<!--          data: this.themeBackgroundStyle-->
<!--        },-->
<!--        "*"-->
<!--      );-->

<!--      this.iframe.value.contentWindow.postMessage(-->
<!--        {-->
<!--          type: "backgroundValue",-->
<!--          data: this.themeBackgroundValue-->
<!--        },-->
<!--        "*"-->
<!--      );-->

<!--      this.iframe.value.contentWindow.postMessage(-->
<!--        {-->
<!--          type: "currentScreen",-->
<!--          data: this.previewCurrentScreen-->
<!--        },-->
<!--        "*"-->
<!--      );-->
<!--    },-->

<!--    checkPreviewMessages(e) {-->
<!--      if (!e.data) return;-->

<!--      const { type, data } = e.data;-->

<!--      switch (type) {-->
<!--        case "currentScreen":-->
<!--          this.SET_PREVIEW_CURRENT_SCREEN({ screenIndex: data });-->
<!--      }-->
<!--    }-->
<!--  }-->
<!--};-->
<!--</script>-->
