<template>
  <div class="slide-controller flex items-center">
    <button
      class="button-controller rounded-l-[20px] h-full hover:opacity-70"
      @click="$emit('prev')"
    >
      {{ $t("preview.prevSlide") }}
    </button>
    <div class="counter">{{ count }} / {{ total }}</div>
    <button
      class="button-controller rounded-r-[20px] h-full hover:opacity-70"
      @click="$emit('next')"
    >
      {{ $t("preview.nextSlide") }}
    </button>
  </div>
</template>

<script>
export default {
  name: "SlideController",
  props: {
    count: {
      type: Number,
      default: 0
    },

    total: {
      type: Number,
      default: 0
    }
  }
};
</script>

<style lang="scss" scoped>
.slide-controller {
  filter: drop-shadow(0px 5px 10px rgba(52, 54, 62, 0.06))
    drop-shadow(0px 1px 3px rgba(47, 52, 64, 0.03));

  .counter,
  .button-controller {
    @apply flex items-center justify-center py-[11px] px-[16px] bg-white font-medium text-[14px] leading-[18px] text-center text-text-primary border-y border-gray-light;
  }
}
</style>
