<template>
  <nav
    id="toolbar"
    class="navbar fixed inset-0 z-[1000] w-full"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          <div class="buttons">
            <nuxt-link
              class="button is-primary is-inverted has-text-weight-medium"
              :to="{ path: '/', query: { slug: $route.query.slug } }"
              @click="$router.back()"
              v-text="$t('builder.backToEdit')"
            />
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <button class="button is-primary">
              <strong v-text="$t('preview.publish')" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>
